<!--Dialog for showing app logs-->
<div class="dialog-sm">
  <div class="panel-header">
    <h2>Logs for {{appName}}</h2>
  </div>
  <div class="panel-content">
    <div class="row" ng-hide="logMessages.length > 0">
      <p>No messages logged. Function has not called log() recently.</p>
    </div>
    <p ng-repeat="message in logMessages track by $index" class="monospaced">{{message}}</p>
  </div>
  <div class="panel-footer">
    <button ng-click="$close('dismiss')">Close</button>
  </div>
</div>
