<div class="event_main">
    <div ng-show="!perAppCtrl.currentApp.deploy">
        <br><br><br><br>
        <input type="checkbox" id="cleanup_timers" ng-model="perAppCtrl.currentApp.settings.cleanup_timers">
        <label for="cleanup_timers">Cleanup Timers and </label>
        <button class="btn_1" align="left" ng-click="perAppCtrl.deployApplication()">Deploy Application</button>
    </div>
    <div ng-show="perAppCtrl.currentApp.deploy">
        <br><br><br><br>
        <button class="btn_1" align="left" ng-click="perAppCtrl.undeployApplication()">Undeploy Application</button>
    </div>
    <br><br><br><br>
    <button class="btn_1" align="left">Save to disk</button>
    <br><br><br><br>
    <div ng-show="!perAppCtrl.currentApp.debug && perAppCtrl.isChromeBrowser">
        <button class="btn_1" align="left" ng-click="perAppCtrl.startDbg()">Start Debug</button>
    </div>
    <div ng-show="perAppCtrl.currentApp.debug && perAppCtrl.isChromeBrowser">
        <br> Debug using <br>
        <a ng-href = "{{perAppCtrl.debugUrl}}">{{perAppCtrl.debugUrl}}</a>
        <br><br>
        <button class="btn_1" align="left" ng-click="perAppCtrl.stopDbg()">Stop Debug</button>
    </div>
</div>
