.event_left {
    position:absolute;
    left:0; top:0px; bottom: 0;
    height:800px;
    width: 178px;
    background: #F0EEE7;
    padding: 10px
}

.event_right {
    position:absolute;
    left:1000px; top:0px; bottom: 0;
    width: 100%;
    background: #F0EEE7;
    padding: 10px
}

.event_main {
    position: relative;
    left:178px; top:0px; right:1000px; bottom:0;
    background: white;
    color: black;
    height:800px;
    padding: 10px
}

.event_app {
    padding: 6px;
    font-family: cursive;
    font-size: 24px;
}
.event_appname {
    padding: 6px;
    font-family: Ariel;
    font-size: 16px;
}
.event_resname {
    padding: 6px;
    font-family: Times;
    font-size: 12px;
}
.dbg_frame {
    padding: 10px;
    font-family: Courier;
    font-size: 12px;
    background: aquamarine;
}
.ace_editor { height:800px;width:1800px}
.setMarker {
    border-radius: 20px 0px 0px 20px;
        box-shadow: 0px 0px 1px 1px red inset;
}
