<!--Fragment for settings and creating an application-->
<!--The controller that invokes this HTML must provide an implementation for formCtrl-->
<!--The data binding is always done through $scope-->
<div ng-show="!formCtrl.isDialog && formCtrl.showSuccessAlert"
     class="animate-alert alert enable-ng-animation ng-scope alert-success">
  <p class="ng-binding">{{formCtrl.successMessage}}</p>
</div>
<div ng-show="!formCtrl.isDialog && formCtrl.showWarningAlert"
     class="animate-alert alert enable-ng-animation ng-scope alert-warning">
  <p class="ng-binding">{{formCtrl.warningMessage}}</p>
</div>
<div class="dialog-lg">
  <div class="panel-header">
    <h2 ng-show="formCtrl.isDialog">Add Function</h2>
    <h2 ng-show="!formCtrl.isDialog">Function Settings</h2>
  </div>
  <form name="formCtrl.createAppForm">
    <div class="panel-content forms">
      <div class="formrow">
        <label class="inline">Source Bucket</label>
        <span class="fa-stack icon-info"
              uib-tooltip="The function will listen to this bucket for changes. Memcached buckets are not allowed."
              tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <select ng-disabled="!formCtrl.isDialog"
                ng-model="appModel.depcfg.source_bucket"
                ng-options="bucket for bucket in formCtrl.sourceBuckets"
                name="source_bucket">
        </select>
        <div class="error field-error"
             ng-show="formCtrl.sourceBuckets.indexOf(appModel.depcfg.source_bucket) === -1">
          Please specify a source bucket for your function.
        </div>
      </div>
      <div class="formrow">
        <label class="inline">Metadata Bucket</label>
        <span class="fa-stack icon-info"
              uib-tooltip="This bucket is used to store system data and should not be used by other applications."
              tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <select
          ng-disabled="!formCtrl.isDialog"
          ng-model="appModel.depcfg.metadata_bucket"
          ng-options="bucket for bucket in formCtrl.metadataBuckets"
          name="metadata_bucket">
        </select>
        <small>System data stored in this bucket will have the document ID prefixed with <strong>{{appModel.settings.user_prefix}}</strong></small>
        <div
          class="error field-error"
          ng-show="formCtrl.metadataBuckets.indexOf(appModel.depcfg.metadata_bucket) === -1">
          Please specify a metadata bucket.
        </div>
        <div
          class="error field-error"
          ng-show="formCtrl.srcMetaSameBucket(appModel)">
          Source and metadata buckets cannot be the same.
        </div>
      </div>
      <div class="formrow">
        <label>Function Name</label>
        <input
          type="text"
          name="appname"
          ng-disabled="!formCtrl.isDialog"
          ng-model="appModel.appname">
        <div
          class="error field-error"
          ng-show="formCtrl.createAppForm.appname.$error.required">
          Name cannot be empty
        </div>
        <div
          class="error field-error"
          ng-show="formCtrl.createAppForm.appname.$error.appExists">
          A function with this name already exists.
        </div>
        <div
          class="error field-error"
          ng-show="formCtrl.createAppForm.appname.$error.appnameInvalid">
          Function name can only contain characters in range A-Z, a-z, 0-9 and underscore, hyphen.
        </div>
      </div>
      <div class="formrow">
        <label>Description</label>
        <textarea rows="3" ng-model="appModel.settings.description">
        </textarea>
      </div>
      <div
        class="disclosure formrow"
        ng-class="{disclosed: showSettings}"
        ng-click="showSettings = !showSettings">
        Settings
      </div>
      <div ng-show="showSettings">
        <div class="formrow indent-1">
          <label class="inline">System Log Level</label>
          <span
            class="fa-stack icon-info"
            uib-tooltip="Granularity of system events being captured in the log"
            tooltip-placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <select
            ng-model="appModel.settings.log_level"
            ng-init="appModel.settings.log_level = appModel.settings.log_level ? appModel.settings.log_level : 'INFO'">
            <option value="INFO">Info</option>
            <option value="ERROR">Error</option>
            <option value="WARNING">Warning</option>
            <option value="DEBUG">Debug</option>
            <option value="TRACE">Trace</option>
          </select>
        </div>
        <div class="formrow indent-1">
          <small>Application log file for this Function is at : <br><strong>{{formCtrl.logFileLocation}}</strong></small>
        </div>
        <div class="formrow indent-1">
          <label class="inline">Workers</label>
          <span
            class="fa-stack icon-info"
            uib-tooltip="Number of workers per node to process the events"
            tooltip-placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <input
            type="number"
            name="worker_count"
            ng-model="appModel.settings.worker_count"
            ng-disabled="formCtrl.isAppDeployed"
            min="1"
            max="64">
          <div
            class="error field-error"
            ng-show="formCtrl.createAppForm.worker_count.$error.min && formCtrl.createAppForm.worker_count.$dirty">
            Worker count must be positive
          </div>
          <div
            class="error field-error"
            ng-show="formCtrl.createAppForm.worker_count.$error.required && formCtrl.createAppForm.worker_count.$dirty">
            Worker count requires a value
          </div>
          <div
            class="error field-error"
            ng-show="formCtrl.createAppForm.worker_count.$error.max && formCtrl.createAppForm.worker_count.$dirty">
            Worker count must be less than 64
          </div>
        </div>
        <div class="formrow indent-1" ng-disabled="formCtrl.isAppDeployed">
          <label class="inline">Script Timeout
            <small>in seconds</small>
          </label>
          <span
            class="fa-stack icon-info"
            uib-tooltip="Time after which the Function's execution will be timed out"
            tooltip-placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <input
            type="number"
            name="execution_timeout"
            ng-model="appModel.settings.execution_timeout"
            ng-disabled="formCtrl.isAppDeployed"
            min="1"
            max="60">
          <div
            class="error field-error"
            ng-show="formCtrl.createAppForm.execution_timeout.$error.min && formCtrl.createAppForm.execution_timeout.$dirty">
            Script timeout must be a positive number.
          </div>
          <div
            class="error field-error"
            ng-show="formCtrl.createAppForm.execution_timeout.$error.required && formCtrl.createAppForm.execution_timeout.$dirty">
            Script timeout cannot be empty.
          </div>
          <div
            class="error field-error"
            ng-show="formCtrl.createAppForm.execution_timeout.$error.max && formCtrl.createAppForm.execution_timeout.$dirty">
            Script timeout must be less than 60 seconds.
          </div>
        </div>
      </div>
      <div ng-if="formCtrl.isDialog">
        <div class="row">
          <h4>Bindings</h4>
          <div class="margin-bottom-half">
            <button
              class="outline btn-small"
              title="Add a binding"
              ng-click="bindings.push({type:'alias', name:formCtrl.sourceBuckets[0], value:'', access:'rw})">
              +
            </button>
            <button
              class="outline btn-small"
              title="Remove parameter"
              ng-click="bindings.splice(-1, 1)">
              -
            </button>
          </div>
        </div>
        <hr>
        <div ng-repeat="binding in bindings track by $index">
          <div class="row margin-bottom-half">
            <div class="column width-4">
              <h4 class="text-medium inline">type</h4>
              <span
                class="fa-stack icon-info"
                uib-tooltip="A binding for referencing a bucket in your function. 'name' is the actual name of the bucket in the cluster. 'value' is the alias you will use to refer to the bucket."
                tooltip-placement="right">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
            </span>
              <select>
                <option value="alias"
                        ng-model="bindings[$index].type">Alias
                </option>
              </select>
            </div>
            <div class="column width-4">
              <h4 class="text-medium inline">name</h4>
              <span class="input-prepend">
              <select ng-model="bindings[$index].name"
                      ng-options="bucket for bucket in formCtrl.sourceBuckets">
              </select>
            </span>
            </div>
            <div class="width-4">
              <h4 class="text-medium inline">value</h4>
              <input type="text" ng-model="bindings[$index].value"/>
            </div>
            <div class="column width-4">
              <h4 class="text-medium inline">access</h4>
              <select>
                <option value="rw"
                        ng-model="bindings[$index].access">rw
                </option>
                <option value="r"
                        ng-model="bindings[$index].access">r
                </option>
              </select>
            </div>
            <div
              class="red-2 cursor-pointer"
              ng-click="bindings.splice($index, 1)"
              style="padding: 1rem 0 .5rem 1rem">
              <span class="icon fa-close"></span>
            </div>
          </div>
          <div class="row margin-bottom-half error field-error"
               ng-show="!formCtrl.validateVariableRegex(bindings[$index])">
            Alias value must be a valid identifier
          </div>
          <div class="row margin-bottom-half error field-error"
               ng-show="!formCtrl.validateVariable(bindings[$index])">
            Alias value must neither be a JavaScript nor a N1QL reserved word
          </div>
        </div>
      </div>
      <div ng-if="!formCtrl.isDialog">
        <div class="row">
          <h4>Bindings</h4>
          <div class="margin-bottom-half">
            <button
              class="outline btn-small"
              title="Add a binding"
              ng-disabled="formCtrl.isAppDeployed"
              ng-click="formCtrl.bindings.push({type:'alias', name:formCtrl.sourceBuckets[0], value:''})">
              +
            </button>
            <button
              class="outline btn-small"
              title="Remove parameter"
              ng-disabled="formCtrl.isAppDeployed"
              ng-click="formCtrl.bindings.splice(-1, 1)">
              -
            </button>
          </div>
        </div>
        <hr>
        <div ng-repeat="binding in formCtrl.bindings track by $index">
          <div class="row margin-bottom-half">
            <div class="column width-4">
              <h4 class="text-medium inline">type</h4>
              <span
                class="fa-stack icon-info"
                uib-tooltip="A binding for referencing a bucket in your function. 'name' is the actual name of the bucket in the cluster. 'value' is the alias you will use to refer to the bucket."
                tooltip-placement="right">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
            </span>
              <select>
                <option value="alias"
                        ng-disabled="formCtrl.isAppDeployed"
                        ng-model="formCtrl.bindings[$index].type">Alias
                </option>
              </select>
            </div>
            <div class="column width-4">
              <h4 class="text-medium inline">name</h4>
              <span class="input-prepend">
              <select ng-model="formCtrl.bindings[$index].name"
                      ng-disabled="formCtrl.isAppDeployed"
                      ng-options="bucket for bucket in formCtrl.sourceBuckets">
              </select>
            </span>
            </div>
            <div class="width-4">
              <h4 class="text-medium inline">value</h4>
              <input type="text"
                     ng-disabled="formCtrl.isAppDeployed"
                     ng-model="formCtrl.bindings[$index].value"/>
            </div>
            <div class="column width-4">
              <h4 class="text-medium inline">access</h4>
              <select>
                <option value="rw"
                        ng-model="bindings[$index].access">rw
                </option>
                <option value="r"
                        ng-model="bindings[$index].access">r
                </option>
              </select>
            </div>
            <div
              ng-if="!formCtrl.isAppDeployed"
              class="red-2 cursor-pointer"
              ng-click="formCtrl.bindings.splice($index, 1)"
              style="padding: 1rem 0 .5rem 1rem">
              <span class="icon fa-close"></span>
            </div>
          </div>
          <div class="row margin-bottom-half error field-error"
               ng-show="!formCtrl.validateVariableRegex(formCtrl.bindings[$index])">
            Alias value must be a valid identifier
          </div>
          <div class="row margin-bottom-half error field-error"
               ng-show="!formCtrl.validateVariable(formCtrl.bindings[$index])">
            Alias value must neither be a JavaScript nor a N1QL reserved word
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a
        ng-if="formCtrl.isDialog"
        ng-click="$dismiss('cancel')">
        Cancel
      </a>
      <button
        ng-if="formCtrl.isDialog"
        ng-click="$close('ok')"
        ng-disabled="formCtrl.isFormInvalid() || formCtrl.srcMetaSameBucket(appModel) || formCtrl.isFuncNameUndefined() ">
        Next: Add Code
      </button>
      <a
        ng-if="!formCtrl.isDialog"
        ng-click="formCtrl.cancelEdit($dismiss)">
        Cancel
      </a>
      <button
        ng-if="!formCtrl.isDialog"
        ng-click="formCtrl.saveSettings($dismiss, $close)"
        ng-disabled="formCtrl.isFormInvalid()">
        Save
      </button>
    </div>
  </form>
</div>
